<h1>New Category:</h1>
<form action="/createDeveloper" method="post">
  <label for="developer">New Developer: </label>
  <input type="text" name="developer" id="developer" />
  <button type="submit">Submit</button>
</form>
