<html>
  <body>
    <h1>Create Item</h1>

    <hr />
    <form action="/create" method="post">
      <label for="name">Item Name:</label>
      <input type="text" name="name" id="name" required />
      <label for="category">Item Category: </label>
      <select name="category" id="category">
        <option value="Weapon">Weapon</option>
        <option value="Healing">Healing</option>
        <option value="Utility">Utility</option>
        <option value="Armour">Armour</option>
        <option value="Mobility">Mobility</option>
      </select>
      <label for="quality">
        <select name="quality" id="quality">
          <option value="Common">Common</option>
          <option value="Uncommon">Uncommon</option>
          <option value="Rare">Rare</option>
          <option value="Epic">Epic</option>
          <option value="Legendary">Legendary</option>
        </select>
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
