<html>
  <body>
    <h1>Create Item</h1>

    <hr />
    <form action="/createItem" method="post">
      <label for="name">Game Name:</label>
      <input type="text" name="name" id="name" required />
      <label for="genre">Game Genre: </label>
      <select name="genre" id="genre">
        <% categories.forEach(element => { %>
        <option value="<%= element.category %>"><%= element.category %></option>
        <% }) %>
      </select>
      <label for="developer">
        <select name="developer" id="developer" required>
          <% developers.forEach(element => { %>
          <option value="<%= element.developer %>">
            <%= element.developer %>
          </option>
          <% }) %>
        </select>
      </label>
      <label for="quantity">Quantity: </label>
      <input type="number" name="quantity" id="quantity" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
