<html>
  <body>
    <h1>Inventory:</h1>
    <a href="/create"><span>Create item</span></a>
    <hr />
    <% inventory.forEach(element => { %>
    <div>
      <h1><%= element.item_name %></h1>
      <h2><%= element.item_category %></h2>
      <h2><%= element.item_quality %></h2>
      <button>Remove Item</button>
    </div>
    <hr />
    <% }); %>
  </body>
</html>
